.cart__container{
    padding: 30px 0;
}
.cart__container .container .cart {
    flex-basis: 75%;
}
.cart__container .container .cart h3{
    font-size: 1.5em;
    color: #ff0000;
}
.cart__container .container .cart .payment{
    flex-basis: 25%;
} 
.cart__container .container .cart .list__items table{
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0 0 0;
}
.cart__container .container .cart .list__items table td,th{
    border: 1px solid #000;
    padding: 5px 10px;
}
.cart__container .container .cart .list__items table tr td:nth-child(1){
    text-align: left;
}
.cart__container .container .cart .list__items table tr td:nth-child(2){
    text-align: center;
    width: 200px;
}
.cart__container .container .cart .list__items table tr td:last-child{
    text-align: center;
}
.cart__container .container .cart .list__items table tr td:last-child a{
    color: #ff0000;
    cursor: pointer;
}
.cart__container .container .cart .list__items table td img{
    width: 50%;
}
.cart__container .container .cart .list__items table tr td:nth-child(4){
    text-align: center;
}
.cart__container .container .cart .list__items table tr td:nth-child(4) .quantily{
    display: flex;
    justify-content: center;
}
.cart__container .container .cart .list__items table tr td:nth-child(4) .quantily input{
    width: 75px;
    margin: 0 5px;
    text-align: center;
}
.cart__container .container .payment{
    margin: 20px 0 0 0;
    position: relative;
    width: 100%;
    height: 70px;
}
.cart__container .container .payment .box{
    width: 300px;
    position: absolute;
    right: 0;
    text-align: right;
}
.cart__container .container .payment .payment__btn{
    padding: 10px 30px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #ed2d2d;
    color: #fff;
    border-radius: 3px;
    margin: 10px 0 0 0;
    position: relative;
    overflow: hidden;
} 
.cart__container .container .payment .payment__btn span{
    position: absolute;
}

.cart__container .container .payment strong{
    margin: 0 5px;
}
.cart__container .container .payment .payment__btn:hover span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background:linear-gradient(to right, #ff0000,#eea4a4);
    border-radius: 2px;
    animation: animate1 0.5s linear forwards;
}
.cart__container .container .payment .payment__btn:hover span:nth-child(2){
    bottom: 100%;
    right: 0;
    width: 3px;
    height: 100%;
    background:linear-gradient(to bottom, #ff0000,#eea4a4);
    border-radius: 2px;
    animation: animate2 0.5s linear forwards;
    animation-delay: 0.5s;
}
.cart__container .container .payment .payment__btn:hover span:nth-child(3){
    bottom: 0;
    left: 100%;
    width: 100%;
    height: 3px;
    background:linear-gradient(to left, #ff0000,#eea4a4);
    border-radius: 2px;
    animation: animate3 0.5s linear forwards;
    animation-delay: 0.75s;
}
.cart__container .container .payment .payment__btn:hover span:nth-child(4){
    top: 100%;
    left: 0;
    width: 3px;
    height: 100%;
    background:linear-gradient(to top, #ff0000,#eea4a4);
    border-radius: 2px;
    animation: animate4 0.5s linear forwards;
    animation-delay: 1s;
}
@keyframes animate1 {
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}
@keyframes animate2 {
    0%{
        bottom: 100%;
    }
    100%{
        bottom: -100%;
    }
}
@keyframes animate3 {
    0%{
        left: 100%;
    }
    100%{
        left: -100%;
    }
}
@keyframes animate4 {
    0%{
        top: 100%;
    }
    100%{
        top: -100%;
    }
}
.plus{
    cursor: pointer;
}
.minus{
    cursor: pointer;
}