*{
    box-sizing: border-box;
}
.detail__product{
    padding: 30px 0;
}
.detail__product .container .block__product{
    display: flex;
    flex-wrap: wrap;
}
.detail__product .container .block__product .left{
    flex: 2;
    padding: 5px;
    border-right: 3px solid #fdfdfd;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
    padding: 10px 30px;
}
.detail__product .container .block__product .left .price{
    display: flex;
    align-items: center;
 }
 .detail__product .container .block__product .left .price p{
     margin-right: 5px;
 }
 .detail__product .container .block__product .left .price p:first-child{
     font-size: 1.5em;
     font-weight: 600;
     color: #ff0000;
 }
 .detail__product .container .block__product .left .price p:last-child{
     font-size: 1em;
 }
.detail__product .container .block__product .left .block__product_detail{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.detail__product .container .block__product .left .block__product_detail .block{
    /* width: 100%; */
}
.detail__product .container .block__product .left .block__product_detail .block .image__box{
    max-width: 300px;
    height: 100%;
}
.detail__product .container .block__product .left .block__product_detail .block .image__box img{
    width: 100%;
}
.detail__product .container .block__product .left .block__product_detail .block .list_images{
    display: flex;
    max-width: 25rem;
    box-shadow: -5px -5px 10px rgba(0,0,0,0.2),
    5px 5px 10px rgba(0,0,0,0.2);
    padding: 5px 10px;
    align-items: center;
    justify-content: flex-start;
    overflow-x:scroll;
}
.detail__product .container .block__product .left .block__product_detail .block .list_images::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.detail__product .container .block__product .left .block__product_detail .block .list_images::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
.detail__product .container .block__product .left .block__product_detail .block .list_images div{
    min-width: calc(100% /5);
    height:  75px;
    cursor: pointer;
    padding: 5px;
}
.detail__product .container .block__product .left .block__product_detail .block .list_images div img{
    width: 100%;
    height: 100%;
}

.detail__product .container .block__product .left .block__product_detail .block .price p{
    margin-left: 5px;
}
.detail__product .container .block__product .left .block__product_detail .button__buy{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.detail__product .container .block__product .left .block__product_detail .button__buy .button{
   flex-basis: 100%;
   text-align: left;
}
.detail__product .container .block__product .left .block__product_detail .button__buy .button button{
    padding: 10px;
    background: rgb(146, 146, 2);
    border:1px solid rgb(146, 146, 2);
    color: #fff;
    cursor: pointer;
}
.detail__product .container .block__product .left .block__product_detail .button__buy .button button:hover{
    background-color: #f04040;
    border:1px solid #f04040;
}
.detail__product .container .block__product .left .block__product_detail .button__buy .quantily{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
    flex-basis: 100%;
    margin-top: 10px;
}
.detail__product .container .block__product .left .block__product_detail .button__buy .quantily .plus{
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid;
    background: #f04040;
    color: #fff;
}
.detail__product .container .block__product .left .block__product_detail .button__buy .quantily input{
    width: 50px;
    padding: 5px;
    margin-right: 5px;
    height: 100%;
}
.detail__product .container .block__product .left .block__product_detail .button__buy .quantily .minus{
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid;
    background: #f04040;
    color: #fff;
    margin-right: 5px;
}

/* list */
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    display: none;
}
.views_list_product{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80rem;
    height: 35rem;
    background: rgb(41, 241, 67);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    display: none;
}
.views_list_product .images__box{
    position: absolute;
    width: 20rem;
    height: 35rem;
    right: 0%;
    text-align: center;
    transform: translateX(-50%);
}
.views_list_product .images__box img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 0;
    object-fit: contain;
}

.views_list_product .list__image{
    width: 60rem;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}
.views_list_product .list__image .box{
    min-width: 20%;
    padding: 10px;
    margin: 0 15px;
    height: 15rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2),
    5px 5px 5px rgba(0,0,0,0.2),
    -5px -5px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}
.views_list_product .list__image .box img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.views_list_product  button{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    padding: 5px 15px;
    background: #f04040;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2),
    5px 5px 5px rgba(0,0,0,0.2),
    -5px -5px 5px rgba(0,0,0,0.2);
}
.views_list_product  button:hover{
    opacity: 0.8;
}
/*  */
.detail__product .container .block__product .right{
    flex: 1;
    padding: 10px 20px;
    border: 3px solid rgb(41, 241, 67);
    border-radius: 4px;
}
.detail__product .container .block__product .right h3{
    margin-bottom: 30px;
}
 .detail__product .container .block__product .right .parameter div{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background: rgba(0,0,0,0.08);
 }
 .detail__product .container .block__product .right .parameter div.second{
    background: rgba(0,0,0,0.2);
 }
 .detail__product .container .block__product .right .parameter div strong{
    margin-right: 10px;
 }
 .detail__product .container .contents__product{
    padding: 30px 10px;
    word-break: break-word;
    border: 1px solid rgb(41, 241, 67);
    margin-top: 30px;
    border-radius: 5px;
 }
 .detail__product .container .product__same .list__product{
    display: flex;
    flex-wrap: wrap;
 }
.detail__product .container .product__same  .list__product .card{
    flex-basis: calc(20% - 10px);
    margin: 5px;
}
.detail__product .container .product__same  .list__product .card{
    position: relative;
    transform-style: preserve-3d;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: 1s all;
}
.detail__product .container .product__same  .list__product .card::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: -1px;
    bottom: -1px;
    background: linear-gradient(to bottom,#ff0000,#00bb4e);
}
.detail__product .container .product__same  .list__product .card::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    right: -1px;
    bottom: 1px;
    background: linear-gradient(to top,#ff0000,#00bb4e);
}
/*.detail__product .container .product__same  .list__product .card:hover{
    transform: rotateY(180deg);
}    */.detail__product .container .product__same  .list__product .card .box{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 1500px;
    top: 0;
    left: 0;
    padding: 5px;
}
.detail__product .container .product__same  .list__product .card .before.box {
    background: #fff;
}
.detail__product .container .product__same  .list__product .card .box .images{
    height: 200px;
    position: relative;
    width: 100%;
}
.detail__product .container .product__same  .list__product .card .box .images a{
    width: 100%;
    height: 100%;
    display: block;
}
.detail__product .container .product__same  .list__product .card .box .images img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.detail__product .container .product__same  .list__product .card .box .contents{
    margin: 10px 0 0 0;
}
.detail__product .container .product__same  .list__product .card .box .contents a{
    text-decoration: none;
    color: #000;
}
.detail__product .container .product__same  .list__product .card .box .contents a .title{
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #ff0000;
    font-weight: 600;
}
.detail__product .container .product__same  .list__product .card .box .contents a  span{
    color: #ff0000;
}
.detail__product .container .product__same  .list__product .card .box .contents a .info p{
    margin: 5px 0;
}
.detail__product .container .product__same  .list__product .card .before.box {
    transform-style: preserve-3d;
    perspective: 1500px;
    transform: translateZ(50px);
}
.detail__product .container .product__same  .list__product .card .before.box span.discout{
    position: absolute;
    top: 0;
    right: 5px;
    width: 3em;
    height: 3em;
    background: rgb(255,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
}
.detail__product .container .product__same  .list__product .card .after.box{
    background: linear-gradient(to bottom,rgb(240, 185, 185),rgb(67, 123, 155));
}
.detail__product .container .product__same  .list__product .card .after.box {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.detail__product .container .product__same  .list__product .card .after.box p{
    transform: rotateY(180deg);
}
.detail__product .container .product__same  .list__product .card .after.box .btn{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: rotateY(180deg);
}
.detail__product .container .product__same  .list__product .card .after.box p.title{
    font-size: 2em;
    text-transform: uppercase;
}